[Desktop Entry]
Version=1.0
Type=Application
Name=WFTPG
Name[zh_CN]=WFTPG文件传输服务器
GenericName=SFTP/FTP Server Manager
GenericName[zh_CN]=SFTP/FTP服务器管理工具
Comment=Manage SFTP and FTP servers with GUI
Comment[zh_CN]=图形化管理SFTP和FTP服务器
Exec=/usr/bin/wftpg-launcher
Icon=wftpg
Terminal=false
StartupNotify=true
Categories=Network;FileTransfer;System;
Keywords=ftp;sftp;server;file;transfer;
Keywords[zh_CN]=ftp;sftp;服务器;文件;传输;
X-Deepin-Vendor=user-custom
X-Deepin-TurboType=dtk
DBusActivatable=true
