[Unit]
Description=WFTPG SFTP/FTP Server
Documentation=https://github.com/wftpg/wftpg
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/wftpd
Restart=on-failure
RestartSec=5

User=wftpg
Group=wftpg

WorkingDirectory=/var/lib/wftpg

RuntimeDirectory=wftpd
RuntimeDirectoryMode=0770

Environment=HOME=/var/lib/wftpg
Environment=XDG_CONFIG_HOME=/var/lib/wftpg/config
Environment=XDG_CACHE_HOME=/var/lib/wftpg/cache

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

NoNewPrivileges=true

ProtectSystem=strict
ProtectHome=false
PrivateTmp=yes
PrivateDevices=yes

ReadWritePaths=/var/log/wftpg /var/lib/wftpg /etc/wftpg /run/wftpd /home

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
